.dark{
  background-color: black;
}/*Темная тема*/

header {
  outline: 2px dashed #ccc;
  display: flex;
  justify-content: space-evenly;
  background-color: gray;
}/*Стили шапки*/

h1 {
  font-family: serif;
  font-size: 50px;
  color: white;
}

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.up {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  font-size: 20px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} /*Прилипшая кнопка*/

.img-gallery {
  outline: 1px solid black;
}/*Стили картинки*/

.img-gallery:hover {

  outline: 5px solid blue;
  transition: all 0.2s;
  transform: scale(110%);

}/*Наведение на картинку*/


.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  margin: 1%;
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}/*Кнопки сайта*/


.btn:hover {
  background-color: rgb(98, 32, 160);
  outline: 4px solid #ff0000;
  transition: all 0.3s;
}/*Наведение на кнопку*/

p {
  display: flex;
  justify-content: center;
  color: white;
  background-color: gray;
  font-family: serif;
  font-size: 50px;
}/*Текст на сайте*/

p:hover {
  color: aqua;
  outline: 4px solid #ff0000;
  transition: all 0.3s;
}/*Наведение на текст*/

h3 {
  font-family: serif;
  font-size: 40px;
  color: aliceblue;
}

footer{
  background-color: gray;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

}
